/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import url(https://fonts.googleapis.com/css?family=Sniglet:800);


html {
  width: 100%;
}

body {
  padding-top: 0;
  width: 100%;
}

ul.photo-gallery {
    list-style-type: none;
}
ul.photo-gallery li {
    display: inline-block;
    float:left;
    text-align: center;
}
hr {
    clear: both;
    margin: 1em 0;
}
.owner-link {
    color: rgba(240, 0, 0, 0.4);
    text-decoration: none;
}
.owner-link:hover {
    color: rgba(240, 0, 0, 1);
    text-decoration: underline;
}


.container {
  top: 0;
  width: 100%;
  padding: 0;
}

.title {
  top:0;
  margin-top: 0;
  width: 100%;
  font-family: Sniglet;
  font-weight: 800;
  text-align: center;
  background: #FFCC11;
}















